.side-drawer {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 200;
  height: 100vh;
  width: 70%;
  max-width: 300px;
  background: white;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

/* Animation Classes */
.slide-in-left-enter {
  transform: translateX(-100%);
}

.slide-in-left-enter-active {
  transform: translateX(0);
  transition: transform 300ms ease-out;
}

.slide-in-left-exit {
  transform: translateX(0);
}

.slide-in-left-exit-active {
  transform: translateX(-100%);
  transition: transform 300ms ease-in;
}