.form-control {
  width: 100%;
  padding: 0.75rem;
  border: 1px solid var(--border);
  /* border-radius: 8px; */
  font-size: 0.95rem;
  transition: border-color 0.2s, background-color 0.3s ease, color 0.3s ease;
  background-color: var(--bg-card);
  color: var(--text-main);
}

.form-control:focus {
  outline: none;
  border-color: var(--primary);
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}

html.dark .form-control:focus {
  box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.2);
}

.form-label {
  display: block;
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  color: var(--text-main);
  transition: color 0.3s ease;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.25rem;
  width: 100%;
}